.card {
	width: calc(50% - 22px);
	list-style: none;
	position: relative;
}

.card div {
	text-align: center;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
}

.price p {
	padding-right: 10px;
}