.app {
  width: 1240px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

section {
  width: 100%;
}

div::-webkit-scrollbar {
  width: 12px;
  margin-left: 5px;
}

div::-webkit-scrollbar-track {
  background: #2F2F37 ;
/*  margin-top: 40px;*/
/*  margin-bottom: 60px;*/
}

div::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}