.modal {
	width: 720px;
	height: 720px;
	background-color: #1C1C21;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 10px;
	z-index: 1;
}

.headerBlock {
	display: flex;
	justify-content: space-between;
}