.headerList {
	display: flex;
	height: 88px;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding-left: 0px;
}

.logo {
	padding-right: 190px;
	padding-top: 0px;
}

.menu ul {
	display: flex;
	list-style: none;
	align-items: center;
	padding: 0px;
	margin-left: -20px;
}

.menu ul li {
	margin: 20px;
}

a {
	text-decoration: none;
	color: white;
	display: flex;
}

a span {
	padding-left: 8px;
}